@media (max-width: 768px) {
  .font-bold.text-3xl {
    font-size: 2.5rem;
  }

  .font-bold.text-xl {
    font-size: 1.8rem;
  }

  .mt-5 {
    margin-top: 3rem;
  }

  .ml-2 {
    margin-left: 1rem;
  }

  .px-4 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 769px) {
  .font-bold.text-3xl {
    font-size: 3.5rem;
  }

  .font-bold.text-xl {
    font-size: 2rem;
  }

  .mt-5 {
    margin-top: 5rem;
  }

  .ml-2 {
    margin-left: 5rem;
  }

  .px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
