/* Products.css */
.products-container {
    display: flex;
    flex-direction: column;
    margin-top: 4rem; /* mt-16 */
  }
  
  .products-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem; /* gap-3 */
  }
  
  .products-title {
    font-size: 2.5rem; /* text-4xl */
  }
  
  .products-subtitle {
    font-size: 1.5rem; /* text-2xl */
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem; /* gap-14 */
    margin-left: 4rem; /* ml-16 */
    margin-top: 3.5rem; /* mt-14 */
  }
  
  .products-item {
    position: relative;
  }
  
  .products-image {
    transition: all 0.5s; /* transition-all duration-500 */
    width: 20rem; /* w-80 */
    height: 15rem; /* h-60 */
    border-radius: 0.5rem; /* rounded-md */
    cursor: pointer;
  }
  
  .products-image:hover {
    transform: scale(1.1); /* hover:scale-110 */
  }
  
  .products-button {
    position: absolute;
    bottom: 2rem; /* bottom-8 */
    left: 1rem; /* left-4 */
    font-weight: bold;
    background-color: #ff8c00; /* bg-orange-400 */
    padding: 0.5rem 1rem; /* p-2 */
    border-radius: 0.5rem; /* rounded-md */
  }
  
  .products-button a {
    color: inherit;
    text-decoration: none;
  }
  